[
    Mode(
        name: "Shell Script",
        patterns: [Suffix(".sh")],
        grammar: Some(
            Grammar(
                id: "bash",
                source: Git(
                    git: "https://github.com/tree-sitter/tree-sitter-bash",
                    rev: "a8eb5cb57c66f74c63ab950de081207cccf52017",
                ),
            )
        ),
    ),
    Mode(
        name: "C",
        patterns: [Suffix(".c"), Suffix(".h")],
        grammar: Some(
            Grammar(
                id: "c",
                source: Git(
                    git: "https://github.com/tree-sitter/tree-sitter-c",
                    rev: "f05e279aedde06a25801c3f2b2cc8ac17fac52ae",
                ),
            )
        ),
    ),
    Mode(
        name: "C++",
        patterns: [
            Suffix(".cpp"),
            Suffix(".cc"),
            Suffix(".cp"),
            Suffix(".cxx"),
            Suffix(".c++"),
            Suffix(".C"),
            Suffix(".h"),
            Suffix(".hh"),
            Suffix(".hpp"),
            Suffix(".hxx"),
            Suffix(".h++"),
            Suffix(".inl"),
            Suffix(".ipp"),
        ],
        grammar: Some(
            Grammar(
                id: "cpp",
                source: Git(
                    git: "https://github.com/tree-sitter/tree-sitter-cpp",
                    rev: "c61212414a3e95b5f7507f98e83de1d638044adc",
                ),
            )
        ),
    ),
    Mode(
        name: "Rust",
        patterns: [Suffix(".rs")],
        grammar: Some(
            Grammar(
                id: "rust",
                source: Git(
                    git: "https://github.com/tree-sitter/tree-sitter-rust",
                    rev: "a360da0a29a19c281d08295a35ecd0544d2da211",
                ),
            )
        ),
    ),
    Mode(
        name: "CSS",
        patterns: [Suffix(".css")],
        grammar: Some(
            Grammar(
                id: "css",
                source: Git(
                    git: "https://github.com/tree-sitter/tree-sitter-css",
                    rev: "94e10230939e702b4fa3fa2cb5c3bc7173b95d07",
                ),
            )
        ),
    ),
    Mode(
        name: "HTML",
        patterns: [
            Suffix(".html"),
            Suffix(".htm"),
            Suffix(".xhtml"),
            Suffix(".shtml"),
        ],
        grammar: Some(
            Grammar(
                id: "html",
                source: Git(
                    git: "https://github.com/tree-sitter/tree-sitter-html",
                    rev: "d93af487cc75120c89257195e6be46c999c6ba18",
                ),
            )
        ),
    ),
    Mode(
        name: "Python",
        patterns: [
            Suffix(".py"),
            Suffix(".py3"),
            Suffix(".py2"),
            Suffix(".pyi"),
            Suffix(".pyx"),
            Suffix(".pyx.in"),
            Suffix(".pxd"),
            Suffix(".pxd.in"),
            Suffix(".pxi"),
            Suffix(".pxi.in"),
            Suffix(".rpy"),
            Suffix(".cpy"),
        ],
        grammar: Some(
            Grammar(
                id: "python",
                source: Git(
                    git: "https://github.com/tree-sitter/tree-sitter-python",
                    rev: "d6210ceab11e8d812d4ab59c07c81458ec6e5184",
                ),
            )
        ),
    ),
    Mode(
        name: "Typescript",
        patterns: [
            Suffix(".ts"),
        ],
        grammar: Some(
            Grammar(
                id: "typescript",
                source: Git(
                    git: "https://github.com/tree-sitter/tree-sitter-typescript",
                    rev: "4c20b54771e4b390ee058af2930feb2cd55f2bf8",
                    path: Some("typescript"),
                ),
            )
        ),
    ),
    Mode(
        name: "Typescript TSX",
        patterns: [
            Suffix(".tsx"),
        ],
        grammar: Some(
            Grammar(
                id: "tsx",
                source: Git(
                    git: "https://github.com/tree-sitter/tree-sitter-typescript",
                    rev: "4c20b54771e4b390ee058af2930feb2cd55f2bf8",
                    path: Some("tsx"),
                ),
            )
        ),
    ),
    Mode(
        name: "Javascript",
        patterns: [
            Suffix(".js"),
        ],
        grammar: Some(
            Grammar(
                id: "javascript",
                source: Git(
                    git: "https://github.com/tree-sitter/tree-sitter-javascript",
                    rev: "a263a8f53266f8f0e47e21598e488f0ef365a085",
                ),
            )
        ),
    ),
    Mode(
        name: "JSON",
        patterns: [
            Suffix(".json"),
            Suffix(".jsonl"),
        ],
        grammar: Some(
            Grammar(
                id: "json",
                source: Git(
                    git: "https://github.com/tree-sitter/tree-sitter-json",
                    rev: "65bceef69c3b0f24c0b19ce67d79f57c96e90fcb",
                ),
            )
        ),
    ),
    Mode(
        name: "Markdown",
        patterns: [
            Suffix(".md"),
        ],
        grammar: Some(
            Grammar(
                id: "markdown",
                source: Git(
                    git: "https://github.com/MDeiml/tree-sitter-markdown",
                    rev: "d24196f9b3e5af6fcb2ec2a0b6cbc5c06f58b85e",
                ),
            )
        ),
    ),
    Mode(
        name: "Dockerfile",
        patterns: [
            Name("Dockerfile"),
        ],
        grammar: None,
    ),
]
